language: cpp
sudo: false
os:
  - linux
  - osx
  
compiler:
  - clang
  - gcc

install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
    - clang
    
script:
  - cd MyTinySTL/Test
  
branches:
  only:
  - master
  
notifications:
  email: false
